---
import SkillsList from "../components/skills-list.astro";

import { aboutMe, keySkills, skills } from "../config";
---

<section class="grid gap-8">
  <div class="grid gap-2">
    {aboutMe.map((text) => <p class="text-pretty">{text}</p>)}
  </div>

  <SkillsList skills={skills} />

  <details class="text-neutral-400">
    <summary class="text-h4 cursor-pointer">Ключевые навыки</summary>

    <ul class="grid gap-1 list-disc pl-6 mt-2">
      {keySkills.map((skill) => <li>{skill}</li>)}
    </ul>
  </details>
</section>
