---
import SkillsList from "../components/skills-list.astro";

const aboutMe = [
  "Разрабатываю клиентские приложения на React, но имею опыт и с другими реактивными фреймворками. Люблю сложные и интересные задачи, топлю за качество и чистоту кода. Стараюсь приносить пользу через свою работу команде и бизнесу.",
  "Работал как в больших командах, так и был единственным сотрудником на проекте. За прозрачные и гибкие процессы, готов быть наставником для молодых специалистов.",
];

const skills = [
  "React",
  "JavaScript",
  "TypeScript",
  "HTML",
  "CSS",
  "React Query",
  "Redux",
  "Tailwind",
  "Shadcn UI",
  "Radix-UI",
  "MUI",
  "PWA",
  "Service Worker",
  "Eleventy",
  "Preact",
  "Flutter",
  "Dart",
  "React-Native",
  "Nginx",
  "Docker",
  "Gitlab CI/CD",
];

const keySkills = ["1", "2", "Проведение код-ревью", "4"];
---

<section class="grid gap-8">
  <div class="grid gap-2">
    {aboutMe.map((text) => <p class="text-pretty">{text}</p>)}
  </div>

  <SkillsList skills={skills} />

  <details>
    <summary>Ключевые навыки</summary>

    <ul>
      {keySkills.map((skill) => <li>{skill}</li>)}
    </ul>
  </details>
</section>
