---
import EducationCard from "../components/education-card.astro";
import SectionContainer from "../components/section-container.astro";
import { educations } from "../config";
---

<SectionContainer title="Образование">
  <div class="grid gap-8">
    {
      educations.map((education) => (
        <EducationCard
          title={education.title}
          date={education.date}
          place={education.place}
          description={education.description}
        />
      ))
    }
  </div>
</SectionContainer>
