---
import ProjectCard from "../components/project-card.astro";
import SectionContainer from "../components/section-container.astro";

import { projects } from "../config";
---

<SectionContainer title="Проекты">
  <div class="grid gap-4 my-6">
    {
      projects.map((project, index) => (
        <>
          <ProjectCard project={project} />
          {index < projects.length - 1 && (
            <hr class="border-neutral-600 border-t-2 border-dashed my-6" />
          )}
        </>
      ))
    }
  </div>
</SectionContainer>
