---
import ProjectCard from "../components/project-card.astro";
import SectionContainer from "../components/section-container.astro";
import { Project } from "../typings/project";

const projects = [
  new Project({
    title: "Букинг сервис для жилья в Дубае",
    solutionType: "Заказная разработка",
    description: ["Сервис на подобии airbnb, только ориентированого на заказчика и его жилье"],
    role: "Lead Frontend разработчик",
    workedOn: [
      "Заложил архитектуру приложения",
      "Писал unit и помогал писать e2e тесты на Playwrigth",
      "Работал над системой фильтров и сортировки",
      "Активно взаимодействовал с junior разработчиками, проводил совместную оценку и планирование задач, отвечал за результат",
    ],
  }),
  new Project({
    title: "Анонимный чат для получения психологической помощи",
    solutionType: "Внутрений продукт",
    description: [
      "Телеграм чат, где люди могу получить психологическую анонимную помощь. С другой стороны разрабатывал платформу для психологов, где они могут видеть обезличенных клиентов и вести с ними работу: записывать и назначать сессии, заполнять профиль клиента и анамнез, проводить оплаты и тд.",
      "В дальнейм начали разработку конструткора пользовательских сценариев и отдельного приложения для клиентов",
    ],
    role: "Lead Frontend разработчик и PM (несколько месяцев)",
    workedOn: [
      "Работал над всем интерфейсом для платформы психологов",
      "Закладывал архитектуру и поддерживал приложение",
      "Тесно взаимодействовал со всей командой: аналитики, бэкенд разработчиками и дизайнерами",
      "Работал с junior разработчиками, проводил code review и помогал с решением проблем",
      "Успел побыть PM для большой команды",
      "Следил, чтобы приложение было доступно для психологов с ограниченными возможностями",
      "Писал unit тесты",
      "Разработали свой конструктор форм",
      "Работали на realtime чатом на вебсокетах, который отправлял сообщения в телеграм через наш бэкенд",
      "Делали отправку и загрузку файлов",
      "Работал над отправкой и записью голосовых сообщений на всех платформах и браузера (с конвертацией в ogg)",
      "Отдельно хочу отметить реализацию перехода к исходному сообщению из реплая",
      "Работал над архитектурой и реализацией конструктора сценариев совместно с бэкенд разработчиками",
      "Реализовывал граф переходов между состояниями в сценариях на React-flow",
    ],
  }),
  new Project({
    title: "Приложение с упражнениями для беременых женщин",
    solutionType: "Заказная разработка",
    description: [
      "Приложение для беременных женщин с упражнениями и советами. Первый запуск был на VK Mini Apps. Главной сложностью было перенести готовую базу с видео и разработать для нее плеер: видео разделялось на повторяющиеся части, а звук шел отдельно для разных частей - нужно было синхронизировать их все в одном видео-плеере.",
    ],
    role: "Lead Frontend разработчик",
    workedOn: [
      "Работал над плеером для отображения упражнений",
      "Настраивал автоматический деплой в VK Mini Apps и не только",
      "Был наставником для остальной команды frontend разработчиков, проводил code review и помогал с решением проблем",
    ],
  }),
  new Project({
    title: "Прототип приложения для поиска электрозарядок",
    solutionType: "Заказная разработка",
    description: [
      "Приложение с отображеним доступных зарядок в городе, их бронированием, отображени текущего статуса зарядки. А также личный кабинет, бонусы и тд. Приложение работало только на веб-сокетах, что вносило интересные особенности в разработку.",
    ],
    role: "Lead frontend разработчик",
    workedOn: [
      "Заложил архитектуру приложения",
      "Работал над отображением электрозарядок и их особенностей",
      "А также работал над текущим статусом зарядки",
    ],
  }),
  new Project({
    title: "Еще один сканнер, но уже для продуктов",
    solutionType: "Заказная разработка",
    description: [
      "Приложения сканнер, где в игровой форме можно получить всю информацию о продукте, а за полезные продукты получить баллы и подняться в рейтинге среди друзей.",
    ],
    role: "Lead Frontend разработчик",
    workedOn: [
      "Написал сканнер, который ходил с баркодом во внешнюю апишку и получал всю информацию о продукте",
      "Написал несколько экранов для отображения информации о продукте и его оценку",
      "Тесно работал с junior разработчиком, чтобы укладываться в ограниченный бюджет",
    ],
  }),
  new Project({
    title: "Разработал платформу с теоритическими материалами для внутренних курсов",
    solutionType: "Внутреняя разработка",
    description: [
      "Платформа, где собраны все обучающие материалы, лекции, задания по разным курсам (фронтенд, бэкенд, тестирование) в одном месте с привязкой к Moodle. При открытии новых блоков в moodle конкретному студенту они автоматически открывались ему на платформе.",
      "Сами материалы хранились в markdown формате в gitlab репозитории, а Gitlab CI при каждом изменении собирала их в статический сайт и пушила на сервер.",
      "Отдельное внимание уделялось удобству использования, скорости загрузки и автоматической оптимизации всех ресурсов.",
    ],
    role: "Full-stack разработчик",
    workedOn: [
      "Продумывание первоначальной идеи перенести все учебные материалы из Google документов",
      "Обсуждение дизайна с дизайнером",
      "Разработка SSG платформы на Eleventy",
      "Реализация авторизации через Nginx (auth-module т.к сами страницы оставались статичными) и небольшого сервиса на Node.js",
      "Интеграция с Moodle для проверки текущего статуса студента",
    ],
  }),
  new Project({
    title: "Дорабатывал интерфейс для антифрод системы",
    solutionType: "Заказная разработка",
    description: [
      "Интерфейс с данными, графиками, таблицами о трафике. Пристальное внимание уделялось скорости загрузки приложения и оптимизации всего, что могло замедлить работу на медленном интернете.",
    ],
    role: "Frontend разработчик, позже PM",
    workedOn: [
      "Уменьшал число зависимостей для меньшего бандла",
      "Отображение графиков и таблиц",
      "Доработка приложения, внедрение дизайн-системы совместно с дизайнером",
      "Внедрением Service Worker c кэшированием и PWA",
    ],
  }),
  new Project({
    title: "Собрал MVP приложения для проверки гипотезы за месяц",
    solutionType: "Заказная разработка",
    description: [
      "Приложение для поиска автомобилей по фотографии и получение информации о ее технических характеристик, ECO следе и оценке безопасности от Euro NCAP.",
    ],
    role: "Frontend разработчик",
    workedOn: [
      "Интегрировался с внешней апишкой для определения марки и модели автомобиля по фотографии",
      "Аггрегировал информацию с других апишек по названию машины из пункта выше",
      "Отображал информацию о машине на нескольких экранах",
    ],
  }),
  // https://7bits.it/vehiclesbooking
  new Project({
    title: "Разрабатывал приложение для бронирования автомобилей",
    solutionType: "Заказная разработка",
    description: [
      "Приложение для бронирования автомобилей, просмотра прошлых поездок, внесением инцидентов в систему. Для поиска автомобилей есть система фильтров, а для поиска свободного времени у машины - календарь с отображением занятых участком с точностью до часов.",
    ],
    role: "Frontend разработчик",
    workedOn: [
      "Разрабатывал клиентское приложение на React-Native",
      "Работал над отображением предыдущих поездок на карте с возможностью перемотки",
      "Перерабатывал модуль с внесением инцидентов на схеме машины",
      "Работал над системой резерваций по минутам для бронирования автомолей",
      "Настраивал автомотическую сборку через Fastlane",
      "Участвовал в разработке админки и админки для самых главных админов",
      "Активно взаимодействаовал с командой заказчика",
    ],
  }),
  // https://7bits.it/portfolio/fillean
  new Project({
    title: "Система для интеграции между различными сервисами",
    solutionType: "Внутреняя разработка",
    role: "Full-stack разработчик, позже PM",
    description: [
      "Микросервисная система для интеграции между различными сервисами (Gitlab, Redmine, Bitrix, Google Classroom, Moodle и тд). Во главе стоял главный сервис, который запускал бизнес процесс, состоящий из шагов. Внутренний аналог Make.",
    ],
    workedOn: [
      "Писал интеграции к разных внешним апишкам (Gitlab, Redmine, Bitrix)",
      "Работал над интерфейсом главного модуля запуска бизнес процессов и их визуализации по шагам",
      "Разрабатывал интерфейс для работы с каждым отдельным микро-сервисом",
      "Выносил общие части в отдельные npm пакеты",
    ],
  }),
];
---

<SectionContainer title="Проекты">
  <div class="grid gap-4 my-6">
    {
      projects.map((project, index) => (
        <>
          <ProjectCard project={project} />
          {index < projects.length - 1 && (
            <hr class="border-neutral-600 border-t-2 border-dashed my-6" />
          )}
        </>
      ))
    }
  </div>
</SectionContainer>
