---
import "../styles/main.css";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-neutral-900 max-w-[80ch] mx-auto">
    <slot />
  </body>
</html>
